.profile{
    padding-bottom: 2rem;
    border-right: solid 0.2px var(--border-color);
}

.emptyMessage{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-top: 3rem;
    color: var(--light-text-color);
}