.floatBtn{
    position: fixed;
    bottom: 5.7rem;
    right: 1.3rem;
    z-index: 4;
    
}

.floatBtn button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    background: var(--primary-color);
}

@media screen and (min-width: 700px) {
    .floatBtn{
        display: none;
    }
    
}